body {
    background-color: #d4def0;
}

.bgUserColors {
    background-color: #d4def0;
}

.userStyle {
    border: black;
}

.userStyle:hover {
    color: white;
}

/* .heffect:hover {
    font-weight: bolder;
} */