body {
    /* background-color: #d4def0; */
    background: linear-gradient(to right, #4286f4, #373b44);
}

.bgUserColors {
    background-color: #d4def0;
}

.userStyle {
    border: black;
}

.userStyle:hover {
    color: white;
}

/* .heffect:hover {
    font-weight: bolder;
} */